.home {
  position: relative;
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 5px 5px rgba(115, 227, 255, 0.291);
  flex: 1;
  overflow: hidden;
}

.h1 {
  font-family: "Roboto";
  font-size: 50px;
  font-weight: 700;
  padding: 0px;
  
}

.posts {
  padding: 0 80px;
  height: calc(100% - 50px);
  overflow: scroll;
}

.posts::-webkit-scrollbar-track {
  margin-bottom: 60px;
}

.upFlex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  margin: 0 80px;
  border-bottom: 1px solid #b4abab8f;
  margin-bottom: 25px;
}



@media (max-width:991px) {
  .home{
    border-radius: 0px;

  }

  .upFlex{
    margin-right: 15px;
    padding-top: 25px;
    margin-left: 100px;
  }

  .h1 {
    font-size: 30px;
    margin-bottom: 0px;
    
  }

  .posts {
    padding: 0 10px;
  }
}


@media (max-width:400px) {


  .h1 {
    display: none;
    
  }

  .upFlex{
    justify-content: center;

  }
  button{
    width: 90%;
  }

 
}
