.checkbox {
  display: flex;
  height: 40px;
  width: 80px;
  align-items: center;
  justify-content: space-between;
  border-radius: 25px;
  padding: 10px;
  position: relative;
  cursor: pointer;
  background-color: #612dd1dd;
  user-select: none;
  color: white;
}

.checkbox::after {
  content: "";
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
  left: 0px;
  transition: all 0.3s;
  border: 1px solid #612dd1dd;
  box-shadow: 4px 0px 1px black;
}

.active::after {
  transition: all 0.3s;
  border: 1px solid #612dd1dd;
  left: 50%;
  box-shadow: -4px 0px 1px black;
}
