.PostItem {
  background-color: #6d00fe;
  border-radius: 16px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  width: 100%;
  color: white;
  margin: 0 auto;
  padding: 20px 45px;
  margin-bottom: 50px;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.PostItem:hover {
  background-color: #5503c0;
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.25);
}

.boxPostInfo {
  height: 100%;
  width: 100%;
}

.h1 {
  font-weight: 700;
  font-size: 62px;
  font-family: "Kaisei Decol";
  padding: 0px;
  margin-bottom: 20px;
}

.imageBox {
  display: flex;
  min-height: 400px;
  max-height: 420px;
  aspect-ratio: 16/9;
  width: 100%;
  margin-bottom: 24px;
}

.imageBox img {
  object-fit: cover;
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.description {
  font-family: "Lato";
  font-size: 28px;
  line-height: 32px;
  max-height: 130px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 15; /* number of lines to show */
  line-clamp: 15;
  -webkit-box-orient: vertical;
}

.postInfo {
  display: flex;
  justify-content: space-between;
  font-family: "Lato";
  font-size: 24px;
}

.postInfo img {
  height: 40px;
}

.popular {
  display: flex;
  align-items: center;
  gap: 24px;
  transition: all 0.3s;
}

.popular div {
  cursor: pointer;
}

.popular div:hover img {
  scale: 1.1;
}

.popular div:hover div {
  text-decoration: underline;
  text-underline-offset: 5px;
}

.comments {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.likes {
  display: flex;
  align-items: center;
  gap: 10px;
}

.likes img {
  height: 30px;
}

.author {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 991px) {
  .PostItem {
    padding: 10px;
    justify-content: space-between;
    height: max-content;
  }

  .h1 {
    font-weight: 700;
    font-size: 26px;
    font-family: "Kaisei Decol";
    padding: 0px;
    margin-bottom: 20px;
  }

  .flexPostItem {
    display: flex;
    gap: 26px;
    width: 100%;
    flex-direction: column;
  }

  .imageBox {
    min-width: 100%;
    max-height: max-content;
  }

  .imageBox img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }

  .description {
    font-family: "Lato";
    font-size: 18px;
    line-height: 22px;
    max-height: 450px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* number of lines to show */
    line-clamp: 5;
    -webkit-box-orient: vertical;
  }

  .postInfo {
    flex-direction: column;
    margin-top: 20px;
    font-size: 16px;
    gap: 10px;
  }
  .postInfo img {
    height: 20px;
  }
}
