.App{
  display: flex;
  height: 100vh;
  padding: 44px 42px;
  gap: 40px;
}

.itemChat{
  display: flex;
  flex-direction: column;
  gap: 34px;
}


@media (max-width:650px) {
  .App{
    padding: 0px;
  }
}
