.App{
  display: flex;
  height: 100dvh;
  padding: 44px 42px;
  gap: 40px;
}

.itemChat{
  display: flex;
  flex-direction: column;
  gap: 34px;
}


@media (max-width:750px) {
  .App{
    padding: 0px;

  }

  .itemChat{
    flex: 1;
    padding-top: 30px;
  }

  .itemChat label{
    margin-left: 90px;
  }

  .itemChat >div{
    border-radius: 20px 20px 0px 0px;
    width: 100%;
  }



}
