@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*, *:before, *:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body{
	height: 100%;
	width: 100%;
	font-style: 100%;
	line-height: 1;
	font-style: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
  background-color: #EFF6FC;
}

input, button, textarea{font-family: inherit;}

input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style-type: none;}
img{vertical-align: top;}

h1,h2, h3, h4, h5, h6{font-style: inherit; font-weight: 400;}

/* W3C standard
   сейчас только для Firefox */
   * {
	scrollbar-width: thin;
	scrollbar-color: #612dd1dd rgba(255, 255, 255, 0);
  }
  
  /* для Chrome/Edge/Safari */
  *::-webkit-scrollbar {
	height: 6px;
	width: 6px;
  }
  *::-webkit-scrollbar-track {
	border-radius: 15px;
	background: rgba(255, 255, 255, 0);
	margin-top: 10px;
    margin-bottom: 10px;
  }
  *::-webkit-scrollbar-thumb {
	background-color: #612dd1dd;
	border-radius: 15px;
	border: 2px solid rgba(255, 255, 255, 0);
  }

